body {

    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    margin: auto;
    
}

.wrapper {

    transform: scale(0.8,0.8);
    
}

a {

    color: gray;

}

.title_img {

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

    
 .mirrored {

    -webkit-transform: scaleX(-1);
    transform: sclaeX(-1);
    filter: hue-rotate(45deg);

 }   

 .fireworks {

    height:198px;
    width:198px;

 }

 .icons {
     margin-right: 60px;
 }

 .link {

    padding-top: 60px;
    margin-top: 30px;

 }

 .settings {

    opacity: 35%;

 }