body {

    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    margin: auto;

}

a {

    color: gray;

}
    
 .mirrored {

    -webkit-transform: scaleX(-1);
    transform: sclaeX(-1);
    filter: hue-rotate(45deg);

 }   
