{% extends "base.html" %}

{% block content %}

    <div>
        <h2>Hello {{p1name}}</h2>
        <h2>Please choose your weapon</h2>
        <section> 
            <a href="{{url_for('p2choice', choice1='rock')}}">Rock
                <img src="/static/images/rock.png" alt="">
            </a>
            <a href="{{url_for('p2choice', choice1='paper')}}">Paper
                <img src="/static/images/paper.png" alt="">
            </a>
            <a href="{{url_for('p2choice', choice1='scissors')}}">Scissors
                <img src="/static/images/scissors.png" alt="">
            </a>
        </section>
       
    </div>

{% endblock %}