{% extends "base.html" %}

{% block content %}

    <div>
        <h2>Hello player</h2>
        <h2>Welcome to Rock - Paper - Scissors, an ancient, brutal game of skill and chance</h2>
        <section> 
            <a href="/get_name"><img src="/static/images/pvp.png" alt="" class="icons"></a>
            <a href="/get_name_cpu"><img src="/static/images/pvc.png" alt=""></a>
            <a href="Settings"><img src="/static/images/settings.png" alt=""></a>
        </section>
       
    </div>

{% endblock %}