{% extends "base.html" %}

{% block content %}

    <div>
        <h2>Hello {{p2name}}</h2>
        <h2>Please choose your weapon</h2>
        <section> 
            <a href="{{url_for('result', choice1=request.path, choice2='rock')}}">Rock
                <img src="https://via.placeholder.com/150" alt="">
            </a>
            <a href="{{url_for('result',  choice1=request.path, choice2='paper')}}">Paper
                <img src="https://via.placeholder.com/150" alt="">
            </a>
            <a href="{{url_for('result', choice1=request.path, choice2='scissors')}}">Scissors
                <img src="https://via.placeholder.com/150" alt="">
            </a>
        </section>
       
    </div>

{% endblock %}